.login {
  max-width: 500px;
  margin: 0 auto;
}

.add-new-form {
  max-width: 500px;
}

.form-header {
  margin-bottom: 1em;
}

.fit-image {
  object-fit: cover;
}

.aspect-ratio-parent {
  position: relative;
  width: 100%;
}

.aspect-ratio-parent:before {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  content: "";
}

.aspect-ratio-child {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.imgs-row {
  margin: -0.5rem;
}

/* Links */

.link {
  color: darkred;
  font-size: 16px;
  font-weight: 400;
}

.link-reset,
.link-reset:hover {
  display: block;
  text-decoration: none;
  color: inherit;
}

.head {
  font-size: 22px;
  color: rgb(31, 31, 31);
  margin-right: 10px;
  width: 18ch;
}

.line-break {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.head:hover,
.link:hover {
  text-decoration: none;
}

.col-margin {
  white-space: nowrap;
}

.pagination-margin {
  margin-bottom: 5%;
  margin-top: 3%;
}

ul {
  list-style-type: none;
}

.img-list {
  max-width: 600px;
  margin: 0 auto;
}

.img-inblock {
  margin: 0 auto;
  display: block;
}

.date {
  flex-shrink: 0;
}

body {
  background-color: rgb(236, 236, 236);
  font-size: 1.15rem;
}

@media (max-width: 1000px) {
  html {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }
}

.avatar {
  height: 28px;
  width: 28px;
  margin-right: 6px;
  border-radius: 50%;
  object-fit: cover;
  background: url("/static/user.svg") no-repeat center;
  background-size: cover;
  border: none;
}

.avatar-home {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 0;
}

.div-avatar {
  position: relative;
  height: 70px;
  width: 70px;
}

.div-avatar:after {
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: block;
  /* width: 30px;
  height: 30px; */
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url("/static/plus.svg") no-repeat center;
  background-size: 30px;
  content: "";
  pointer-events: none;
  transition: 200ms ease-in-out;
  opacity: 0;
}

.div-avatar:hover:after {
  opacity: 1;
}

.topics {
  color: rgb(45, 50, 90);
  text-decoration: underline;
  font-size: 16px;
}

.like {
  display: block;
  width: 17px;
  margin: 0 6px 0 0;
}

.actions {
  margin-left: 10px;
}

.comments {
  margin: 10px 20px;
}

.comments > ul {
  padding: 0;
}

.comment-menu {
  position: relative;
  top: -2px;
}

.else-btn {
  padding: 0;
  width: 26px;
  height: 26px;
  background: url("/static/more.svg") no-repeat center;
  background-size: 18px 18px;
  border: none;
  display: block;
  cursor: pointer;
}

.else-btn:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.comments-item {
  margin-bottom: 15px;
}

.comment-content {
  padding-left: 10px;
}

.head-text {
  margin-bottom: 0;
  margin-top: 7px;
}

.comments-item .avatar {
  height: 40px;
  width: 40px;
  margin-right: 0;
}

.topic {
  padding: 0;
}

.add-image {
  margin-bottom: 10px;
}

.new-button {
  margin-left: 20px;
  padding-top: 8px;
}

.card-body.topic-block {
  padding-top: 1%;
}

.owner {
  font-size: 14px;
  vertical-align: middle;
  white-space: nowrap;
}

@media (max-width: 991px) and (min-width: 767px) {
  .imgs-col:nth-child(4) {
    display: none !important;
  }
}

.msg {
  font-size: 16px;
}

.error-msg {
  color: red;
  font-weight: bold;
}

.username {
  padding-top: 15px;
  margin-left: 13px;
}
