{% extends "pixlands/base.html" %}

{% block content %}
  <div class="mb-4">
    <div class="d-flex align-items-center mb-4">
      <h1>Topics</h1>
      <form class="new-button mb-2" action="{% url 'pixlands:new_topic' %}">
        <button type="submit" class="btn btn-primary">+ Add new</button>
      </form>
    </div>
    {% for topic in topics %}
      <div class="topic card mb-4 shadow-sm">
        <div class="card-body topic-block">
          <div class="ml-2 d-flex align-items-center
                      justify-content-between">
            <h3 class="line-break">
              <a class="head" href="{% url 'pixlands:topic' topic.id %}">
                {{ topic }}
              </a>
            </h3>
            <a
              class="link ml-2 mr-2"
              href="{% url 'pixlands:topic' topic.id %}"
            >
              more
            </a>
          </div>

          <div class="row no-gutters text-center text-lg-left">
            {% for image in topic.images %}
              <div class="d-flex imgs-col col-lg-3
                          col-md-4 col-sm-6 col-12 p-2">
                <a
                  class="aspect-ratio-parent"
                  href="{% url 'pixlands:image' image.id %}"
                >
                  <img
                    class="aspect-ratio-child fit-image"
                    src="{{ image.image_url }}"
                    width="100"
                    height="100"
                  >
                </a>
              </div>
            {% empty %}
              <div class="msg ml-2">
                There are no images for this topic yet.
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% empty %}
      <p class="msg pt-2 pb-4">No topics have been added yet.</p>
    {% endfor %}

    <div class="pagination pagination-margin mb-4">
      <span class="step-links">
        {% if topics.has_previous %}
            <a href="?page={{ topics.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
        </span>

        {% if topics.has_next %}
            <a href="?page={{ topics.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  </div>

{% endblock content %}